
@{
    ViewBag.Title = "Index";
}

<h2>Welcome</h2>
<br />
<a href="Bank/create">Create Account</a><br />
<a href="Bank/Edit">Update Account</a><br />
<a href="Bank/Delete">Delete Account</a><br />
<a href="Bank/GetById">Get Account by ID</a><br />
<a href="Bank/Deposit">Deposit</a><br />
<a href="Bank/Withdraw">Withdraw</a><br />
<a href="Bank/FundTransfer">Fund Transfer</a><br />

